<div style="margin-left: 30px;">

    <h3 style="display: inline">Chat System</h3>

    <a href="https://github.com/raphaelsrodrigues/nodejs-express-production/blob/master/views/chat.ejs">
        <img class="shakeClass" src="./images/github-logo-icon-24.png" width="22"
             style="display: inline; margin-left: 8px; padding-bottom: 8px">
    </a>

    <h4>Real time chat system built with socket.io</h4>
    <form id="form" id="chat_form">
        <input id="chat_input" type="text">
        <input type="submit" value="Send">
    </form>

    <br>

    <div id="display_chat"></div>

</div>

<script>
    var socket = io.connect('http://139.162.224.185:3001');
    socket.on('connect', function (data) {
        socket.emit('join', 'Hello World from client');
    });
    socket.on('broad', function (data) {
        $('#display_chat').html(xssFilters.inHTMLData(data));
    });
    $('form').submit(function (e) {
        e.preventDefault();
        var message = $('#chat_input').val();
        socket.emit('messages', message);
        $('#chat_input').val('');
    });
</script>