<% include templates/header.ejs %>

<h3>Hello World!</h3>
<div id="future"></div>
<form id="form" id="chat_form">
    <input id="chat_input" type="text">
    <input type="submit" value="Send">
</form>

<% include templates/footer.ejs %>

<script>
    var socket = io.connect('http://139.162.224.185:3000');
    socket.on('connect', function(data) {
        socket.emit('join', 'Hello World from client');
    });
    socket.on('broad', function(data) {
        $('#future').html(data);
    });
    $('form').submit(function(e){
        e.preventDefault();
        var message = $('#chat_input').val();
        socket.emit('messages', message);
        $('#chat_input').val('');
    });
</script>