<% include templates/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-4 hidden-xs">

        </div>

        <div class="col-md-4 col-sm-12 col-xs-12" style="margin-bottom: 20px; padding-right: 0px; padding-left: 0px;">

            <h3 style="display: inline">Event Management</h3>

            <a href="https://github.com/raphaelsrodrigues/nodejs-express-production/blob/master/views/index.ejs">
                <img class="shakeClass" src="./images/github-logo-icon-24.png" width="25"
                     style="display: inline; margin-left: 8px; padding-bottom: 8px">
            </a>

            <h4>My invitation management app takes care of your guest list.</h4>

            <a href="https://www.instagram.com/ra.ph.p/"
               style="text-decoration: none !important; color: black !important; float: right"><p class="shakeClass"> - Raphael S.
                Rodrigues </p></a>

        </div>

        <div class="col-md-4 hidden-xs">

        </div>

    </div>
</div>


<% include templates/footer.ejs %>
