<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />

  <!--body-->
    <!--block content-->
  <!---->

    <meta property='og:title' content='Title of the article'/>
<meta property='og:image' content='//images/torn-paper-img.png'/>
    <meta property='og:description' content='An Express Framework Project'/>
<meta property='og:url' content='//www.raph-web.eu' />


</head>
<body>



</body>
</html>