<div style="margin-right: 30px;">

    <h3 style="display: inline">raph-web.eu</h3>

    <a href="https://github.com/raphaelsrodrigues/nodejs-express-production">
        <img class="shakeClass" src="./images/github-logo-icon-24.png" width="22"
             style="display: inline; margin-left: 8px; padding-bottom: 8px">
    </a>

    <ul>
        <li><h4>Nodejs</h4></li>
        <li><h4>Express</h4></li>
        <li><h4>React</h4></li>
        <li><h4>JSON</h4></li>
        <li><h4>Bootstrap</h4></li>
        <li><h4>socket.io</h4></li>
    </ul>
</div>