<div>
    <h3 style="display: inline">Torn Paper</h3>

    <a href="https://github.com/raphaelsrodrigues/nodejs-express-production/blob/master/views/index.ejs">
        <img class="shakeClass" src="./images/github-logo-icon-24.png" width="22"
             style="display: inline; margin-left: 8px; padding-bottom: 8px">
    </a>

    <h4> My experimental CSS on Express, a nodejs framework.</h4>

</div>

<br>

<div class="table-container">
    <img src="images/torn-paper.png" class="torn-paper-img" width="100%" height="80px">

    <h3 style="padding-left: 20px;">Expenses</h3>

    <table class="cost-table">

        <thead align="left">
        <tr>
            <th style="padding-left: 20px;">Item</th>
            <th>Value</th>
        </tr>
        </thead>

        <tbody>

        <% costdata.categories.forEach(function(item) { %>

        <tr class='item_row'>
            <td class='item_row' style="padding-left: 20px;"><%= item.categoryName %></td>
            <td class='item_row'><%= item.videosCount %></td>
        </tr>

        <% }); %>

        <tr class="last_item_row">
            <td class="last_item_row" style="padding-left: 20px;"><b>Total</b></td>
            <td class="last_item_row"><p style="margin: 0px 0 0px !important;"><b>€ 280.00</b></p></td>
        </tr>

        </tbody>
    </table>

    <br>

    <div class="include-cost-div">
        <p> Add Item</p>

        <input type="text" name="newcost" id="newcost" placeholder="Description" style="width: 80%;" required>
        <input type="number" name="newvalue" id="newvalue" placeholder="Value" step="0.01" min="0.01"
               max="99" style="width: 80%; margin-top: 10px; margin-bottom: 10px" required/>

        <input type="submit" name="add" class="add" id="add" value="Add (+)"
               style="margin-right: 26px; margin-bottom: 20px;">
    </div>

</div>

    <br>
    <br>
