
<a href="https://www.linkedin.com/in/raphrodrigues/"
   style="text-decoration: none !important; color: black !important; float: right"><p class="shakeClass"> - Raphael S.
    Rodrigues </p></a>
</body>
</html>