body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*Starts torn paper CSS*/

.cost-table td {
  border-bottom: 1px solid #81AFDB;

}

.cost-table th {
  border-bottom: 2px solid #81AFDB;
  padding-top: 16px;
}

table.cost-table {
  border-collapse: collapse;
  width:100%
}

thead table.cost-table {
  display: table-header-group;
}

td.last_item_row {
  padding-top: .8em;
}

td.item_row {
  padding-top: 0.6em;
  padding-bottom: 6px;
}

.table-container {
  border-bottom: 2px solid #81afcd;
  border-left: 2px solid #81afcd;
  border-right: 2px solid #81afcd;
  padding-bottom: 20px;
  padding-top: 47px;
}

.torn-paper-img {
  position: absolute;
  top: -13px;
  left: 0px;
}

.include-cost-div {
  float:right;
  width: 33%;
  padding-top: 20px;
}